@use "./mixins";
@use "./typography";
@use "./variables" as *;

* {
  box-sizing: border-box;
}

p {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  color: $silver;
}
label {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  color: $silver;
}
h3 {
  font-family: "AvenirNext LT Pro";
}
h2 {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
}
h1 {
  font-family: "AvenirNext LT Pro";
  font-weight: 700;
}
a {
  text-decoration: none;
}

input,
textarea {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  border: 1px solid $mercury;
  max-width: 100%;
  min-width: 15rem;
  min-height: 2.25rem;
  border-radius: 0.3rem;
  padding: 0.8rem;
  color: $brainFlixBlack;
}
input::placeholder,
textarea::placeholder {
  color: $brainFlixBlack;
}

button {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  background-color: $brainFlixBlue;
  color: $white;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.3rem;
  height: 3rem;
  min-width: 9.375rem;
  padding: 0rem 2rem;
  width: 100%;
  margin-bottom: 0;
}

button:hover {
  background-color: $brainFlixDarkBlue;
}
