@use "./mixins";
@use "./typography";
@use "./variables" as *;

* {
  box-sizing: border-box;
}

p {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
}
h3 {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
}
h2 {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
}
a {
  text-decoration: none;
}

input {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  border: 1px solid $mercury;
  max-width: 100%;
  min-width: 15rem;
  min-height: 2.25rem;
  border-radius: 0.3rem;
}
