// Primary colours
$brainFlixBlack: #323232;
$brainFlixBlue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;

// Secondary colours
$brainFlixDarkBlack: #000000;
$brainFlixDarkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;