@use "../../styles/partials/globals";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user-comments {
  @include padding-sides;
  @include padding-bottom;
  @include border-bottom;
}

.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  &-avatar {
    position: absolute;
    border-radius: 50%;
    background-color: $mercury;
    background-size: cover;
    background-position: center;
    max-width: 2rem;
    max-height: 2rem;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    left: 0;
  }
  &-date {
    position: absolute;
    right: 0;
  }
  &-name {
    font-weight: 600;
  }
  &-text {
    color: $brainFlixBlack;
    margin-top: 0;
  }
}
