@use "../../styles/partials/globals";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.video-container{
    @include padding-sides;
    @include padding-bottom;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}